$white: #fff;

// A bcd E f
$about-white: #eee; // 1 away from FFF
$light-gray: #aaaaaa;

// 5 432 1 0
$gray: #555;
$almost-black: #222; // 2 away from 000
$basically-black: #121212;
$black: #111;

// https://colorhunt.co/palette/a8d8eaaa96dafcbad3ffffd2
$lb: #a8d8ea;
$lp: #aa96da;
$lr: #fcbad3;

$db: #0000dd;
$dp: #590d82;
$dr: #f25d9c;
