[theme="dark"] {
    body {
        color: #eee;
        background-color: #121212;
    }

    .theme-button {
        color: #ddd;
    }

    .theme-button:hover {
        color: #eee;
    }

    // https://colorhunt.co/palette/a8d8eaaa96dafcbad3ffffd2
    a:link {
        color: #a8d8ea;
    }

    a:visited {
        color: #aa96da;
    }

    a:active {
        color: #fcbad3;
    }
}

[theme="light"] {
    body {
        color: #222;
        background-color: #fff;
    }

    a:link {
        color: #0000dd;
    }

    a:visited {
        color: #590d82;
    }

    a:active {
        color: #f25d9c;
    }

    .theme-button {
        color: #222;
    }

    .theme-button:hover {
        color: #111;
    }
}
