@import "minimal/_colors.scss";

[theme="dark"] {
    body {
        color: $about-white;
        background-color: $basically-black;
    }

    // A bcd E f
    .theme-button {
        color: $light-gray;
    }

    .theme-button:hover {
        color: $about-white;
    }

    // https://colorhunt.co/palette/a8d8eaaa96dafcbad3ffffd2
    a:link {
        color: $lb;
    }

    a:visited {
        color: $lp;
    }

    a:active {
        color: $lr;
    }
}

[theme="light"] {
    body {
        color: $almost-black; // 2 away from 000
        background-color: $white;
    }

    a:link {
        color: $db;
    }

    a:visited {
        color: $dp;
    }

    a:active {
        color: $dr;
    }

    // 5 432 1 0
    .theme-button {
        color: $gray;
    }

    .theme-button:hover {
        color: $black;
    }
}
