html {
	padding: 0px;
	margin: 0px;
	font: 62.5% arial, sans-serif;
}

body {
	background-color: rgb(245, 245, 245);
	padding: 0px 48px;
}

h1 {
	font: 64px arial;
	color: rgb(75, 75, 75);
}

p {
	font: 32px arial;
	color: rgb(75, 75, 75);
}

li {
	font: 32px arial;
	color: rgb(75, 75, 75);
}