html {
	background-color: white;
}

body {
	background-color: powderblue;
	border: 4px solid gray;
}

h1 {
	background-color: paleturquoise;
	padding: 8px;
	border: 4px solid gray;
	border-right-style: none;
	border-left-style: none;
	font-family: helvetica;
	color: black;
	text-align: center;
	font-size: 50px;
}

p {
	padding: 0px 10px;
	font-family: sans-serif;
	color: dimgray;
	font-size: 25px;
}

BEPEP