* {
	padding: 0px;
	margin: 0px;
	font: 16px arial, sans-serif;
}

html {}


body {
	background-color: rgb(245, 245, 245);
	padding: 32px 48px;
}

h1 {
	font: 64px arial;
	color: rgb(75, 75, 75);
}

p {
	font: 32px arial;
	color: rgb(75, 75, 75);
}

li {
	font: 32px arial;
	color: rgb(75, 75, 75);
}

.delay1 {
	animation: fadein 1s linear 0s 1 normal;
}

.delay2 {
	animation: fadein 3s linear 0s 1 normal;
}

.delay3 {
	animation: fadein 6s linear 0s 1 normal;
}

@keyframes fadein {
	0% {color: rgb(245, 245, 245);}
	50% {color: rgb(245, 245, 245);}
	100% {color: rgb(75, 75, 75);}
}
