// These are my brand colors.
$lighter:   rgb(245, 243, 243);
$light:    rgb(240, 238, 238); // f0eeee
$lightish: rgb(170, 168, 168); // aaa8a8
$darkish:  rgb(100, 98, 98);   // 646262
$dark:     rgb(30, 28, 28);    // 1e1c1c
$darker:   rgb(25, 23, 23);

// Minecraft colors!
$mc-black:       #000;
$mc-dark-blue:   #00a;
$mc-dark-green:  #0a0;
$mc-dark-aqua:   #0aa;
$mc-dark-red:    #a00;
$mc-dark-purple: #a0a;
$mc-gold:        #fa0;
$mc-gray:        #aaa;

// Lighter Minecraft colors!
$mc-dark-gray: #555;
$mc-blue:      #55f;
$mc-green:     #5f5;
$mc-aqua:      #5ff;
$mc-red:       #f55;
$mc-purple:    #f5f;
$mc-yellow:    #ff5;
$mc-white:     #fff;
