@import "colors";

[theme="dark"] {
    body {
        background-image: linear-gradient(111deg, $dark, $darker);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    span {
        color: $light;
    }

    a {
        color: $mc-dark-aqua;
    }

    .faded {
        color: $lightish;
    }

    .rainbow {
        @include css3-prefix(background-clip, text);
        color: transparent;
        background-image: linear-gradient(111deg, $mc-red, $mc-yellow);
    }

    .invert-rainbow {
        @include css3-prefix(background-clip, text);
        color: transparent;
        background-color: $mc-aqua;
    }
}

[theme="light"] {
    body {
        background-image: linear-gradient(111deg, $lighter, $light);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    span {
        color: $dark;
    }

    a {
        color: $mc-dark-blue;
    }

    .faded {
        color: $darkish;
    }

    .rainbow {
        @include css3-prefix(background-clip, text);
        color: transparent;
        background-image: linear-gradient(
            111deg,
            $mc-dark-purple,
            $mc-dark-blue
        );
    }

    .invert-rainbow {
        @include css3-prefix(background-clip, text);
        color: transparent;
        background-color: $mc-dark-green;
    }
}

[theme="hackerman"] {
    body {
        background-color: #000;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #0f0;
    }

    p,
    span {
        color: #0d0;
    }

    a {
        color: #00f;
    }

    .faded {
        color: #0b0;
    }
}

[theme="bleached"] {
    body {
        background-color: #fff;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    span {
        color: #000;
    }

    a {
        color: #555;
    }
}
