@import "reset";
@import "mixins";
@import "colors";
@import "themes";

html {
    font-size: 62.5%;
}

body {
    padding: 0rem 4rem;
}

%header {
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    @extend %header;
    font-size: 5rem;
}

h2 {
    @extend %header;
    font-size: 4rem;
}

h3 {
    @extend %header;
    font-size: 3.25rem;
}

p,
a,
span {
    margin: 2rem;
    margin-right: 36rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2.75rem;
    line-height: 3.25rem;
    * {
        margin: 0rem;
    }
}

a:hover {
    text-decoration: underline;
}

a:active {
    font-weight: 400;
}

strong {
    font-weight: 500;
}

em {
    font-style: italic;
}

#faq :nth-child(2n + 3) {
    margin-top: -0.75rem;
    font-size: 2.75rem;
}

#theme-toggler {
    position: fixed;
    right: 2rem;
    top: 2rem;
    * {
        margin-right: 0rem;
        font-size: 3.5rem;
        text-decoration: underline;
    }
}

@media screen and (max-width: 750px) {
    html {
        font-size: 1.33vw;
    }
    p,
    a,
    span {
        margin-right: 0rem;
    }
}
