---
---
@import "minimal/themes";
@import "theme-button";

body {
    margin: 20px auto;
    max-width: 650px;
    padding: 0 10px;

    line-height: 1.2;
}

button {
    background-color: transparent;
    border: 0;
}
